.App {

  background-color: #282c34;
  padding: 5rem;

}

/* BroadbandDeals Styles*/ 

.dealsContainer{
  margin: 60px;
  background-color: white;
  padding: 3rem;
  border-radius: 5%;
}
.container{

  border: 10px solid 'black';

}

.companyName{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
}

.companyInfo{
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  float: left;
}

.price{
  display: flex;
  flex-direction: column;

  border: 5px solid #1C6EA4;
  padding: 1rem;
}
.prices{
  flex-grow: 1;
  display:flex;
  justify-content: space-evenly;
  
}
