.App {

  background-color: #282c34;
  padding: 5rem;

}

/* BroadbandDeals Styles*/ 
.container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dealsContainer{
  margin: 10rem;
  background-color: white;
  padding: 3rem;
  border-radius: 5%;
}

.companyName{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  
}

.companyInfo{
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  float: left;
}

.price{
  display: flex;
  flex-direction: column;
 
}